   .carousel-container {
            position: relative;
            overflow: hidden;
            height: 100%;
        }
        .carousel-slide {
            display: flex;
            transition: transform 0.5s ease-in-out;
            height: 100%;
        }
        .carousel-image {
            min-width: 100%;
            height: 100%;
        }



/* Base styles for pagination dots */
.pagination-dot {
  width: 0.6rem; 
  height: 0.6rem; 
  border-radius: 50%;
  background-color: #ccc; 
}

/* Active dot */
.pagination-dot.active {
  background-color: white;
}

/* Media query for mobile view */
@media (max-width: 640px) { 
  .pagination-dot {
    width: 0.4rem; 
    height: 0.4rem; 
  }
}


        .glass-button {
  background: rgba(255, 255, 255, 0.13); 
  border: 1px solid rgba(255, 255, 255, 0.457); 
  backdrop-filter: blur(10px);
  border-radius: 50%; 
  padding: 10px; 
  transition: background 0.3s, transform 0.3s; 
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.292); 
  transform: scale(1.1); 
}


.secondary-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.secondary-image:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}