 .product_container:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }
        .product_container {
            border-radius: 4px;
            overflow: hidden;
        }