nav {
  z-index: 999;
}

.search-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.1);
  color: #ccc;
  cursor: pointer;
}


.nav-item {
  display: block;
   width: 100%; 
   white-space: nowrap;
  font-size: 1.1rem; 
  font-weight: 500; 
  color: #F2F5F0FF; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-item:hover {
  color: #e0f7fa; 
  transform: scale(1.05); 
}

.dropdown-menu {
  width: 14vw;
  font-size: 1rem; 
  padding: 10px 15px;
  color: #333; 
  background-color: rgba(13, 178, 29, 0.384);
  transition: max-height 0.3s ease, opacity 0.3s ease;
}


.dropdown-menu .nav-item:hover {
  color: #00796b; 
}




/* .text-container {
    font-size: 1.2rem;
    color: white;
    transition: opacity 0.8s ease-in-out;
    min-width: 300px;
    opacity: 0;
} */

/* Media query for mobile devices */
/* @media (max-width: 768px) {
    .text-container {
        font-size: 0.8rem;
    }
}

.text-container.visible {
    opacity: 1;
} */
